[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pre-commit = "*"
black = "*"
matplotlib = "*"
dotmap = "*"
sklearn = "*"
tqdm = "*"
tensorflow = "*"
keras = "*"

[dev-packages]

[pipenv]
allow_prereleases = true

[requires]
python_version = "3.7"
